.wrapper__sliders {
    box-sizing: border-box;
    height: 250px;
    overflow: hidden;
    background-color: $light_grey;
    border-top: 1px solid $light_green;

    .wrapper__sliders__title {
        display: flex;
        align-items: center;
        height: 80px;
        background: linear-gradient(to right, $light_grey 0%, $duty_wight 50%);

        .title__text {
            font-weight: 400;
            font-size: 16px;
            color: #7e7e82;
            padding-left: 16px;
            // padding-top: 16px;
        }
    }

    .wrapper__sliders__box {
        position: relative;

        .container__slide {
            margin-top: 16px;
            width: auto;

            .slide__box__img {
                display: block;
                width: 240px;
                height: 72px;
            }

            .bosh {
                background: url('./blocks/main/wrapper__sliders/img/bosh.png') no-repeat;
                background-size: contain;
            }

            .lenovo {
                background: url('./blocks/main/wrapper__sliders/img/lenovo.png') no-repeat;
                background-size: contain;
            }
            
            .sony {
                background: url('./blocks/main/wrapper__sliders/img/sony.png') no-repeat;
                background-size: contain;
            }
            
            .samsung {
                background: url('./blocks/main/wrapper__sliders/img/samsung.png') no-repeat;
                background-position: -5px 0;
            }
            
            .acer {
                background: url('./blocks/main/wrapper__sliders/img/acer.png') no-repeat;
                background-size: contain;
            }
            
            .apple {
                background: url('./blocks/main/wrapper__sliders/img/apple.png') no-repeat;
                background-size: contain;
            }
            
            .hp {
                background: url('./blocks/main/wrapper__sliders/img/hp.png') no-repeat;
                background-size: contain;
            }
            
            .viesonic {
                background: url('./blocks/main/wrapper__sliders/img/viewsonic.png') no-repeat;
                background-size: contain;
            }
        }

        .container__slide:first-child {
            margin-left: 16px;
        }
    }
}
