.sliders__brend {
    box-sizing: border-box;
    height: 220px;
    overflow: hidden;
    background-color: $light_grey;
    border-top: 1px solid $light_green;

    .title {
        display: flex;
        align-items: center;
        height: 80px;
        background: linear-gradient(to right, $light_grey 0%, $wight 50%);

        .title__text {
            font-weight: 400;
            font-size: 16px;
            color: $grey;
            padding-left: 16px;
        }
    }

    .sliders__brend__box__brend {
        position: relative;

        .box__brend__container {
            height: 120px;
            padding-left: 16px;

            // @media #{$tablet} {
            //     display: grid;
            //     max-width: 903px;
            //     grid-template-columns: 1fr 1fr 224px;
            //     grid-template-rows: repeat(4, 75px);
            //     row-gap: 16px;
            //     margin: auto;
            //     // padding-top: 24px;
            //     // padding-left: 24px;
            //     // padding-right: 24px;
            //     height: 350px;
            // }

            .container__slide__brend {
                margin-top: 16px;
                width: auto;

                .container__slide__img {
                    display: block;
                    width: 240px;
                    height: 72px;

                    @media #{$tabletDesktop} {
                        width: 224px;
                    }
                }

                .bosh {
                    background: url('./blocks/main/sliders__brend/img/bosh.png')
                        no-repeat;
                    background-size: contain;
                }

                .lenovo {
                    background: url('./blocks/main/sliders__brend/img/lenovo.png')
                        no-repeat;
                    background-size: contain;
                }

                .sony {
                    background: url('./blocks/main/sliders__brend/img/sony.png')
                        no-repeat;
                    background-size: contain;
                }

                .samsung {
                    background: url('./blocks/main/sliders__brend/img/samsung.png')
                        no-repeat;
                    background-position: -5px 0;
                }

                .acer {
                    background: url('./blocks/main/sliders__brend/img/acer.png')
                        no-repeat;
                    background-size: contain;
                }

                .apple {
                    background: url('./blocks/main/sliders__brend/img/apple.png')
                        no-repeat;
                    background-size: contain;
                }

                .hp {
                    background: url('./blocks/main/sliders__brend/img/hp.png')
                        no-repeat;
                    background-size: contain;
                }

                .viesonic {
                    background: url('./blocks/main/sliders__brend/img/viewsonic.png')
                        no-repeat;
                    background-size: contain;
                }

                .container__slide__brend:first-child {
                    margin-left: 16px;
                }
            }
        }

        .box__brend__pagination {
            position: absolute;
            top: 103px;
        }

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            margin-right: 20px !important;
        }

        .swiper-pagination-bullet-active {
            background: $grey;
        }
    }

    .sliders__brend__btn {
        display: none;

        @media #{$tablet} {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 200px;
            border: none;
            background-color: $light_grey;
            padding-left: 24px;
        }
    }

    .sliders__brend__btn:hover {
        cursor: pointer;
    }

    // .main__sliders__brend .show-more {
    //     height: 500px;
    // }

    .main__sliders__brend .show-more-small {
        height: 410px;
    }

    .box__brend__container .hidden {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1199.9px) {
    .sliders__brend {
        height: 320px;
        background: linear-gradient(to right, $wight 120px, $light_grey 120px);

        .title {
            padding-left: 24px;
            height: 56px;
        }

        .box__brend {
            // position: relative;
            display: block;
            padding: 24px 24px 0 24px;
            min-height: 320px;

            .box__brend__container {
                // position: relative;
                display: grid;
                max-width: 903px;
                grid-template-columns: 1fr 1fr 224px;
                grid-template-rows: repeat(4, 75px);
                row-gap: 16px;
                margin: auto;
                min-height: 380px;
                padding-left: 0;

                .container__slide__brend {
                    display: block;
                    margin: 0 !important;

                    .container__slide__img {
                        width: 224px;
                    }

                    .samsung {
                        background-position: -5px 0;
                    }
                }

                .container__slide__brend:first-child {
                    margin-left: 0;
                }
                .swiper-pagination-bullets {
                    display: none;
                }

                .hidden {
                    display: none;
                }
            }

            .box__brend__pagination {
                display: none;
            }

            .swiper-pagination-bullet {
                display: none;
            }
        }

        .show-more {
            height: 600px;
        }

        .btn-show::before {
            position: relative;
            display: block;
            content: '';
            background: url('./blocks/main/sliders__brend/img/expand.png')
                no-repeat;
            width: 24px;
            height: 24px;
            cursor: pointer;
            margin-right: 10px;
            top: -200px;
        }

        .btn-show::after {
            display: flex;
            align-items: center;
            width: 110px;
            height: 30px;
            content: 'Показать всё';
            font-size: 16px;
            font-weight: 500;
            color: black;
            position: relative;
            top: -200px;
            z-index: 5;
        }

        .btn-hide {
            background: linear-gradient(to right, $wight 120px, $light_grey 120px);
        }

        .btn-hide::before {
            position: relative;
            display: block;
            content: '';
            background: url('./blocks/main/sliders__brend/img/expand.png')
                no-repeat;
            transform: rotate(180deg);
            width: 24px;
            height: 24px;
            top: -15px;
            margin-right: 10px;
        }

        .btn-hide::after {
            content: 'Скрыть';
            font-size: 16px;
            font-weight: 500;
            color: black;
            position: relative;
            top: -15px;
            z-index: 5;
        }

        .swiper,
        .swiper-wrapper,
        .swiper-slide {
            display: flex;
            column-gap: 0;
        }
    }
}

@media (min-width: 1200px) {
    .sliders__brend {
        min-width: 1120px;
        min-height: 320px;
        // padding-left: 32px;
        // padding-right: 32px;

        .title {
            padding-left: 32px;
            height: 56px;

            .title__text {
                padding-left: 0;
            }
        }

        .box__brend {
            display: block;
            // padding: 24px 32px 0 32px;

            .box__brend__container {
                display: grid;
                box-sizing: border-box;
                max-width: 1120px;
                min-height: 280px;
                grid-template-columns: 1fr 1fr 1fr 240px;
                grid-template-rows: repeat(3, 75px);
                row-gap: 16px;
                margin: 0;
                padding-top: 24px;
                padding-left: 32px;
                padding-right: 32px;

                .container__slide__brend {
                    display: block;
                    margin: 0 !important;
                    // padding-bottom: 16px;

                    .container__slide__img {
                        width: 240px;
                        height: 75px;
                    }

                    .samsung {
                        background-position: -5px 0;
                    }
                }

                .container__slide__brend:first-child {
                    margin-left: 0;
                }

                .swiper-pagination-bullets {
                    display: none;
                }

                .box__brend__pagination {
                    display: none;
                }

                .swiper-pagination-bullet {
                    display: none;
                }

                .hidden {
                    display: none;
                }
            }
        }

        .sliders__brend__btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: none;
            // background-color: $light_grey;
            padding-left: 32px;

            &:hover {
                cursor: pointer;
            }
        }

        // .sliders__brend__btn {
        //     display: flex;
        //     flex-direction: row;
        //     align-items: center;
        //     border: none;
        //     background-color: $light_grey;
        //     padding-left: 32px;

        //     &:hover {
        //         cursor: pointer;
        //     }
        // }

        .btn-show::before {
            // left: -20px;
            position: relative;
            display: block;
            content: '';
            background: url('./blocks/main/sliders__brend/img/expand.png')
                no-repeat;
            width: 24px;
            height: 24px;
            left: -5px;
            top: -70px;
            z-index: 5;
        }

        .btn-show::after {
            content: 'Показать всё';
            font-size: 16px;
            font-weight: 500;
            color: black;
            position: relative;
            left: 8px;
            top: -70px;
            z-index: 5;
        }

        .btn-hide {
            background-color: $light_grey;
        }

        .btn-hide::before {
            position: relative;
            display: block;
            content: '';
            background: url('./blocks/main/sliders__brend/img/expand.png')
                no-repeat;
            transform: rotate(180deg);
            width: 24px;
            height: 24px;
            // left: 8px;
            top: 20px;
        }

        .btn-hide::after {
            content: 'Скрыть';
            font-size: 16px;
            font-weight: 500;
            color: black;
            position: relative;
            top: 20px;
            left: 12px;
        }

        // .sliders__brend__btn:hover {

        // }

        // .sliders__brend__btn:hover {
        //     cursor: pointer;
        // }
    }

    .swiper,
    .swiper-wrapper,
    .swiper-slide,
    .swiper-pagination {
        display: flex;
        column-gap: 0;
    }

    .swiper-pagination-bullets {
        display: none;
    }

    // .hidden {
    //     display: none;
    // }

    // .sliders__brend .sliders__brend__btn {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     border: none;
    //     background-color: $light_grey;
    //     padding-left: 32px;
    // }

    // .sliders__brend__btn:hover {
    //     cursor: pointer;
    // }

    // .btn-show::before {
    //     position: relative;
    //     display: block;
    //     content: '';
    //     background: url('./blocks/main/sliders__brend/img/expand.png') no-repeat;
    //     width: 24px;
    //     height: 24px;
    //     left: -5px;
    //     top: -80px;
    //     z-index: 5;
    // }

    // .btn-show::after {
    //     content: 'Показать всё';
    //     font-size: 16px;
    //     font-weight: 500;
    //     color: black;
    //     position: relative;
    //     top: -80px;
    //     z-index: 5;
    // }

    // .btn-hide::before {
    //     position: relative;
    //     display: block;
    //     content: '';
    //     background: url('./blocks/main/sliders__brend/img/expand.png') no-repeat;
    //     transform: rotate(180deg);
    //     width: 24px;
    //     height: 24px;
    //     left: -5px;
    //     top: 20px;
    // }

    // .btn-hide::after {
    //     content: 'Скрыть';
    //     font-size: 16px;
    //     font-weight: 500;
    //     color: black;
    //     position: relative;
    //     top: 20px;
    // }

    // .hidden {
    //     display: none;
    // }
}
