.content {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  padding-top: 24px;

  &__wrapper-text {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__text {
    font-family: $font;
    font-size: 14px;
    color: $black;

    &_hidden,
    &_more-hidden {
      display: none;
    }
  }

  &__more-text {
    display: none;
  }

  &__wrapper-btn {
    position: relative;
    flex-direction: row;
    padding-bottom: 16px;
  }

  &__btn {
    font-family: $fontMedium;
    background-color: $light_grey;
    border: none;
    padding-left: 24px;

    &:hover {
      cursor: pointer;
    }

    &_control::before {
      position: absolute;
      display: block;
      content: '';
      background: url('../src/img/expand.png') no-repeat;
      width: 24px;
      height: 24px;
      left: -8px;
      top: -6px;
    }

    &_control::after {
      position: absolute;
      display: block;
      content: 'Читать далее';
      width: 120px;
      height: 24px;
      left: 18px;
      top: -2px;
      font-size: 16px;
      font-weight: 500;
      color: $black;
      z-index: 5;
    }

    &_hide::before {
      position: absolute;
      display: block;
      content: '';
      background: url('../src/img/expand.png') no-repeat;
      transform: rotate(180deg);
      width: 24px;
      height: 24px;
      left: -8px;
      top: 14px;
    }

    &_hide::after {
      position: absolute;
      display: block;
      content: 'Скрыть';
      width: 120px;
      height: 24px;
      left: -3px;
      top: 16px;
      font-size: 16px;
      font-weight: 500;
      color: $black;
      z-index: 5;
    }
  }

  .content__image {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1439.99px) {
  .content {
    // max-width: 1120px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;

    &__wrapper-text {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-left: 0;
      padding-right: 0;
    }

    &__text-box {
      padding-right: 20px;
      width: 100%;
    }

    &__text {
      padding-bottom: 16px;

      &:nth-child(2) {
        padding-bottom: 0;
      }

      &_hidden {
        display: block;
      }
    }

    &__wrapper-btn {
      padding-top: 0;
    }

    &__btn {
      &::before {
        top: -3px;
      }

      &_hide::after {
        top: 0;
      }
    }

    &__box-image {
      display: flex;
      justify-content: end;
      width: 50%;
    }

    &__image {
      border-radius: 5px;
      object-fit: contain;
    }
  }
}

@media (min-width: 1440px) {
  .content {
    max-width: 1120px;
    flex-direction: row;
    padding-top: 30px;

    &__wrapper-text {
      padding-left: 0;
      width: 50%;
    }

    &__text-box {
      width: 100%;
      padding-right: 30px;
    }

    &__text {
      padding-bottom: 24px;

      &_hidden {
        display: block;
      }
    }

    &__more-text {
      display: block;
    }

    &__wrapper-btn {
      padding-top: 0;
      padding-bottom: 0;
      padding-bottom: 24px;
    }

    &__btn {
      padding-left: 24px;

      &::before {
        top: -4px;
      }

      &_hide::before {
        top: 12px;
      }
    }

    &__box-image {
      width: 50%;
    }

    &__content__image {
      border-radius: 5px;
    }
  }
}
