body {
    position: relative;
}

.pop__up__menu {
    position: absolute;
    width: 320px;
    height: 676px;
    box-shadow: 20px 0px 35px -5px rgba(0, 0, 0, 0.2);
    padding-top: 4px;

    .header__popup {
        width: 320px;
        padding: 18px 24px;

        .header__nav {
            max-width: 320px;
            height: 60px;
            padding: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0;

            .nav__list {
                width: 40px;
                height: 40px;

                .nav__link {
                    display: block;
                    width: 40px;
                    height: 40px;
                }

                .nav__clouse {
                    background: url('./blocks/popup__header/img/clouse.png')
                        no-repeat;
                }
            }

            .logo {
                height: 55px;
                padding-left: 16px;
                margin-right: auto;
                // top: -30px;
            }

            .search {
                background: url('./blocks/popup__header/img/search.png')
                    no-repeat;
            }
        }
    }

    .pop-up__main {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 370px;
        padding-bottom: 250px;

        .pop-up__list {
            height: 370px;

            .list__links {
                display: flex;
                flex-direction: column;
                // justify-content: space-around;
                width: 250px;
                padding: 0;
                margin: 0;
                padding-top: 28px;
                padding-bottom: 28px;

                .list__item {
                    position: relative;
                    width: 100%;
                    height: 46px;
                    padding-bottom: 22px;

                    .list__link {
                        width: 100%;
                        height: auto;
                        display: block;
                        font-weight: 500;
                        text-decoration: none;
                        color: $black;
                        padding-left: 24px;
                    }
                }

                .list__item:nth-child(6) {
                    padding-bottom: 0;
                }

                .list__item .active {
                    color: #7e7e82;
                }

                .link-order {
                    order: -1;
                }

                .list__item .active::before {
                    content: '';
                    display: block;
                    position: absolute;

                    width: 4px;
                    height: 32px;

                    border-right: 5px solid #41f6d7;
                    border-radius: 10px;

                    left: -4px;
                    top: -5px;
                }

                .list__item .list__link:hover::before {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 32px;
                    border-right: 5px solid #41f6d7;
                    border-radius: 10px;
                    left: -4px;
                    top: -5px;

                    position: absolute;
                }

                .list__item:hover ~ .list__item .active {
                    color: black;
                }

                .list__item:hover ~ .list__item .active::before {
                    display: none;
                }

                .list__item .list__link:hover {
                    color: #7e7e82;
                    transition-duration: 0.2s;
                }
            }
        }
    }

    .pop-up__footer {
        display: flex;
        flex-direction: column;
        min-width: 220px;
        min-height: 194px;
        right: 0;
        padding: 0;
        padding-left: 24px;

        .pop-up__footer__list {
            padding-bottom: 16px;

            .footer__list__links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 176px;
                padding: 0;
                margin: 0;
                font-size: 0;
                list-style-type: none;

                .footer__list_item {
                    display: block;
                    width: 40px;
                    height: 40px;
                    padding-right: 18px;

                    .footer__list_link {
                        display: block;
                        width: 40px;
                        height: 40px;
                    }

                    .call {
                        background: url('./blocks/popup__header/img/call.png')
                            no-repeat;
                    }

                    .chat {
                        background: url('./blocks/popup__header/img/chat.png')
                            no-repeat;
                    }

                    .profile {
                        background: url('./blocks/popup__header/img/profile.png')
                            no-repeat;
                    }
                }
            }
        }

        .pop-up__footer_email {
            font-weight: 500;
            text-decoration: none;
            color: black;
            padding-bottom: 12px;
        }

        .pop-up__footer_email:hover {
            color: #7e7e82;
            transition-duration: 0.2s;
        }

        .pop-up__footer_phone {
            font-weight: 700;
            margin: 0;
            padding-bottom: 40px;
        }

        .pop-up__footer_lang-box {
            .lang-box__list {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;

                .lang-box__item {
                    list-style: none;
                    padding-right: 7px;
                }
            }
        }
    }
}

.pop__up__menu--hidden {
    display: none;
}

.nav__clouse:hover,
.search:hover,
.chat:hover,
.call:hover,
.profile:hover {
    opacity: 0.5;
    transition-duration: 1s;
}

.lang-box_link,
.lang-box_link-abbr {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.lang-box__list .lang-box__item .lang-box_link-abbr--active {
    color: #7e7e82;
}

.lang-box__item:hover .lang-box_link-abbr {
    color: #7e7e82;
}

.lang-box__item:hover
    ~ .lang-box__item
    .lang-box_link
    .lang-box_link-abbr--active {
    color: #000;
}

@media (min-width: 360px) and (max-width: 767.99px) {
    .pop__up__menu {
        width: 360px;

        .header__popup {
            width: 360px; 

            .header__nav {
                .logo {
                    padding-left: 32px;
                    margin-right: auto;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1440.99px) {
    .pop__up__menu {
        width: 320px;
        height: 1024px;

        .header__popup {
            width: 320px; 

            .header__nav {
                .logo {
                    padding-left: 16px;
                    // margin-right: auto;
                }
            }
        }

        .pop-up__main {
            height: 920px;

            .pop-up__list {
                margin-bottom: 360px;
            }
        }
    }
}
