.popup__burger {
  width: 100vw;
  height: 680px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__wrapper {
    width: 320px;
    height: 676px;
    background-color: $wight;
    box-shadow: 20px 0px 35px -5px $rgba;
    // padding-top: 4px;
  }

  &_hidden {
    display: none;
  }
}

.header__popup {
  box-sizing: border-box;
  width: 320px;
  padding: 24px;

  &__cap {
    max-width: 320px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0;
  }
  &__list {
    width: 40px;
    height: 40px;
  }
  &__btn {
    display: block;
    width: 40px;
    height: 40px;
  }
}

.logo {
  height: 55px;
  padding-left: 16px;
  margin-right: auto;
}

.search {
  background: url('../src/img/search.png') no-repeat;
}
.clouse {
  background: url('../src/img/clouse.png') no-repeat;
}

.clouse,
.search {
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.popup__main {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 370px;
  padding-bottom: 250px;

  &__list {
    height: 370px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0;
    margin: 0;
    padding-bottom: 28px;
    list-style-type: none;
  }

  &__item {
    position: relative;
    width: 100%;
    height: 46px;
    padding-bottom: 22px;

    &:nth-child(6) {
      padding-bottom: 0;
    }

    &:hover ~ & .popup__main__link_active {
      color: $black;
    }

    &:hover ~ & .popup__main__link_active::before {
      display: none;
    }

    &_order {
      order: -1;
    }
  }

  &__link {
    width: 100%;
    height: auto;
    display: block;
    font-weight: 500;
    text-decoration: none;
    color: $black;
    padding-left: 24px;
    // list-style-type: none;

    &:hover::before {
      content: '';
      display: block;
      width: 4px;
      height: 32px;
      border-right: 5px solid $light_green;
      border-radius: 10px;
      left: -4px;
      top: -5px;

      position: absolute;
    }

    &:hover {
      color: $grey;
      transition-duration: 0.2s;
    }

    &_active {
      color: $grey;

      &::before {
        content: '';
        display: block;
        position: absolute;

        width: 4px;
        height: 32px;

        border-right: 5px solid $light_green;
        border-radius: 10px;

        left: -4px;
        top: -5px;
      }
    }
  }
}

.popup__footer {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  min-height: 194px;
  right: 0;
  padding: 0;
  padding-left: 24px;

  &__list {
    padding-bottom: 16px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 176px;
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style-type: none;
  }

  &__item {
    display: block;
    width: 40px;
    height: 40px;
    padding-right: 18px;
  }

  &__btn {
    width: 40px;
    height: 40px;
  }

  .call {
    background: url('../src/img/call.png') no-repeat;
  }

  .chat {
    background: url('../src/img/chat.png') no-repeat;
  }

  .profile {
    background: url('../src/img/profile.png') no-repeat;
  }

  .call,
  .chat,
  .profile {
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__email {
    font-weight: 500;
    text-decoration: none;
    color: $black;
    padding-bottom: 12px;

    &:hover {
      color: $grey;
      transition-duration: 0.2s;
    }
  }

  &__phone {
    font-weight: 700;
    margin: 0;
    padding-bottom: 16px;
  }
}

.lang__box {
  padding-bottom: 32px;

  &__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
    padding-right: 7px;

    &:hover ~ & .lang__box__link__abbr_active {
      color: $black;
    }

    &_order {
      order: -1;
    }
  }

  &__btn,
  &__link__abbr {
    font-weight: 500;
    color: $black;
    text-decoration: none;
    background-color: $wight;
    border: none;

    &_active {
      color: $grey;
    }

    &:hover {
      cursor: pointer;
      color: $grey;
    }
  }
}

.clouse,
.search,
.chat,
.call,
.profile {
  &:hover {
    opacity: 0.5;
    transition-duration: 1s;
  }
}

@media (min-width: 360px) and (max-width: 767.99px) {
  .popup__burger {
    height: 680px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;

    &__wrapper {
      width: 360px;
      padding: 0;
    }
  }

  .header__popup {
    box-sizing: border-box;
    width: 336px;
    padding: 24px 0 28px 16px;
  }

  .logo {
    padding-left: 32px;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1439.99px) {
  .popup__burger {
    height: 1024px;

    &__wrapper {
      width: 320px;
      height: 1024px;
    }
  }

  .header__popup {
    width: 320px;
  }

  .logo {
    padding-left: 16px;
  }

  .popup__main {
    height: 920px;

    &__list {
      margin-bottom: 360px;
    }
  }
}

@media (min-width: 1440px) {
  .popup__burger {
    width: 290px;
    height: auto;

    &__wrapper {
      width: 280px;
      height: 1024px;
      box-shadow: none;
    }
  }

  .header__popup {
    width: 290px;

    &__cap {
      list-style-type: none;
    }

    &__list {
      list-style-type: none;
    }
  }

  .popup__footer {
    margin-top: 241px;
  }

  .clouse {
    display: none;
  }

  .logo {
    &__img {
      position: relative;
      left: -60px;
    }
  }
}
