@import './sliders__brend/sliders__brend.scss';

.main {
    height: auto;
}

.main__main__description {
    display: flex;
    flex-direction: column;
    background-color: $light_grey;
    padding-top: 0;
    padding-bottom: 24px;

    .main__services {
        display: flex;
        flex-direction: column;
        background-color: $light_grey;
        padding-left: 16px;
        padding-right: 16px;

        .main__servises-items {
            display: flex;
            flex-direction: row;
            // overflow: hidden;
            overflow: auto;

            .main__item {
                box-sizing: content-box;
                font-family: $font;
                font-weight: 500;
                font-size: 16px;
                width: 246px;
                height: 40px;

                .main__item-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 216px;
                    text-decoration: none;
                    color: $grey;
                    height: 40px;
                    background-color: $light_grey;
                }

                .main__item-link-active {
                    min-width: 246px;
                    border: 2px solid $light_green;
                    background-color: $duty_wight;
                    border-radius: 10px;
                }
            }
        }
    }

    .main__content {
        display: flex;
        flex-direction: column;
        max-height: 90%;
        padding-top: 24px;

        .main__content-wrapper-text {
            padding-left: 16px;
            padding-right: 16px;

            // .main-content-text-box {
            //     min-height: 200px;
            // }
        }

        .main__content__wrapper__btn {
            position: relative;
            flex-direction: row;
            // padding-top: 16px;
            padding-bottom: 16px;

            .main__content-ownards-btn {
                font-family: $font;
                background-color: $light_grey;
                border: none;
                padding-left: 24px;
            }

            .main__content-ownards-btn:hover {
                cursor: pointer;
            }

            // .content-btn {
            //     min-height: 300px;
            // }

            .content-btn--hide {
                height: 40px;
            }

            .content-btn::before {
                position: absolute;
                display: block;
                content: '';
                background: url('img/expand.png') no-repeat;
                width: 24px;
                height: 24px;
                left: -8px;
                top: -6px;
            }

            .content-btn::after {
                position: absolute;
                display: block;
                content: 'Читать далее';
                width: 120px;
                height: 24px;
                left: 18px;
                top: -2px;
                font-size: 16px;
                font-weight: 500;
                color: black;
                z-index: 5;
            }

            .content-btn--hide::before {
                position: absolute;
                display: block;
                content: '';
                background: url('img/expand.png') no-repeat;
                transform: rotate(180deg);
                width: 24px;
                height: 24px;
                left: -8px;
                top: 14px;
            }

            .content-btn--hide::after {
                position: absolute;
                display: block;
                content: 'Скрыть';
                width: 120px;
                height: 24px;
                left: -3px;
                top: 16px;
                font-size: 16px;
                font-weight: 500;
                color: black;
                z-index: 5;
            }
        }
    }

    .main__content-image {
        width: 100%;
        height: auto;
    }

    .main__servises-items::-webkit-scrollbar,
    .main__content-more-text,
    .main__content-text--hidden,
    .more--hidden {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1119.99px) {
    .main__main__description {
        min-height: auto;
        padding-left: 24px;
        padding-right: 24px;

        .main__services {
            display: flex;
            flex-direction: column;
            background-color: $light_grey;

            padding-left: 0;
            padding-right: 0;
        }

        .main__content {
            flex-direction: row;
            justify-content: space-between;
            padding-top: 32px;

            .main__content-wrapper-text {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding-left: 0;
                padding-right: 0;

                .main-content-text-box {
                    padding-right: 20px;
                    width: 100%;

                    .main__content-text {
                        padding-bottom: 24px;
                    }

                    .main__content-text:nth-child(2) {
                        padding-bottom: 0;
                    }
                }

                .main__content__wrapper__btn {
                    padding-top: 0;

                    .main__icon {
                        padding-right: 8px;
                    }

                    .main__content-ownards-btn::before {
                        top: -3px;
                    }
                }
            }

            .main__content-wrapper-image {
                display: flex;
                justify-content: end;
                width: 50%;

                .main__content-image {
                    border-radius: 5px;
                }
            }

            .main__content-text--hidden {
                display: block;
            }
        }
    }
}

@media (min-width: 1120px) {
    .main__main__description {
        max-width: 1120px;
        min-height: 445px;
        // padding-left: 35px;
        // padding-right: 35px;

        .main__services {
            padding-left: 0;
            padding-right: 0;

            .main__servises-items {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        .main__content {
            flex-direction: row;
            padding-top: 30px;

            .main__content-wrapper-text {
                padding-left: 0;
                width: 50%;

                .main__content-item {
                    padding-bottom: 24px;
                }
            }

            .main-content-text-box {
                width: 100%;
                padding-right: 30px;
            }

            .main__content__wrapper__btn {
                padding-top: 0;

                .main__icon {
                    box-sizing: content-box;
                    width: 24px;
                    height: 24px;
                    // background: url('../style/img/expand.png') no-repeat;
                    padding-right: 8px;
                }

                .main__content-ownards-btn {
                    padding-left: 24px;
                }

                .main__content-ownards-btn::before {
                    top: -4px;
                }
            }

            .main__content-more-text,
            .main__content-text--hidden {
                display: block;
            }
        }

        .main__content-wrapper-image {
            width: 50%;

            .main__content-image {
                border-radius: 5px;
            }
        }
    }
}
