.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 169px;
    background-color: $light_grey;
    font-weight: 500;
    font-size: 14px;
    color: $grey;
    padding-left: 16px;
    padding-right: 16px;

    .footer__year__team {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 16px;
    }

    .footer__link__confidentiality {
        text-decoration: none;
        color: $grey;
        padding-bottom: 16px;
    }

    .footer_info {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1119.99px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: linear-gradient(to right, $wight 120px, $light_grey 120px);
        height: 81px;
        padding-left: 24px;
        padding-right: 24px;

        .footer__year__team {
            display: flex;
            width: 240px;

            .footer__year,
            .footer__team {
                width: 100%;
            }
        }

        .footer__link__confidentiality {
            width: 240px;
        }

        .footer_info {
            width: 250px;
            text-align: end;
        }
    }
}

@media (min-width: 1120px) {
    .footer {
        min-width: 1120px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 81px;
        padding-left: 32px;
        padding-right: 32px;

        .footer__year__team {
            display: flex;
            width: 240px;

            .footer__year,
            .footer__team {
                width: 100%;
            }
        }

        .footer__link__confidentiality {
            width: 240px;
        }

        .footer_info {
            width: 330px;
            text-align: end;
        }
    }
}
