.sliders__appliances {
  box-sizing: border-box;
  height: 312px;
  overflow: hidden;
  background-color: $light_grey;
  border-top: 1px solid $light_green;

  &__btn {
    display: none;
    flex-direction: row;
    align-items: center;
    width: 200px;
    border: none;
    background-color: $light_grey;
    padding-left: 24px;

    &_show::before {
      position: relative;
      display: none;
      content: '';
      background: url('../src/img/expand.png') no-repeat;
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-right: 10px;
      top: -206px;
      left: -5px;
    }

    &_show::after {
      display: none;
      align-items: center;
      width: 110px;
      height: 30px;
      content: 'Показать всё';
      font-size: 16px;
      font-weight: 500;
      color: $black;
      position: relative;
      top: -200px;
      left: -6px;
      z-index: 5;
    }

    &_hide::before {
      position: relative;
      display: none;
      content: '';
      background: url('../src/img/expand.png') no-repeat;
      transform: rotate(180deg);
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    &_hide::after {
      display: none;
      content: 'Скрыть';
      font-size: 16px;
      font-weight: 500;
      color: $black;
      position: relative;
      z-index: 5;
    }

    &_hide:hover,
    &_show:hover {
      cursor: pointer;
    }
  }
}

.box__appliances {
  position: relative;

  &__container {
    height: 280px !important;
    padding-left: 16px;
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    margin-top: 16px;
    width: 240px !important;
    height: 160px !important;
    background-color: $wight;
    padding: 16px;
    border: 1px solid $light_light_grey;
    border-radius: 10px;

    &_hidden {
      display: none !important;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
  }

  &__btn {
    border: none;
    background-color: $wight;
    width: 40px;
    height: 40px;
    background: url('../src/img/go.png') no-repeat;
    margin-left: auto;
    margin-top: auto;

    &:hover {
      cursor: pointer;
    }
  }

  &__pagination {
    position: absolute;
    top: 191px !important;
  }
}

@media (min-width: 768px) and (max-width: 1119.9px) {
  .sliders__appliances {
    background: linear-gradient(to right, $wight 120px, $light_grey 120px);
    height: 308px;

    &__btn {
      display: flex;

      &_show::before,
      &_show::after,
      &_hide::before,
      &_hide::after {
        display: block;
      }

      &_hide {
        background: linear-gradient(to right, $wight 120px, $light_grey 120px);
      }
    }

    .box__appliances {
      display: block;
      padding: 24px 24px 0 24px;
      min-height: 320px;

      &__container {
        position: relative;
        display: grid;
        max-width: 1120px;
        grid-template-columns: 1fr 1fr 224px !important;
        grid-template-rows: repeat(3, 160px);
        row-gap: 24px;
        min-height: 380px;
        padding-left: 0;
      }

      &__item {
        margin: 0;
        width: 224px !important;
      }
    }
  }
}

@media (min-width: 1120px) {
  .sliders__appliances {
    padding: 0 !important;
    &__btn {
      display: flex;

      &_show::before {
        display: block;
        top: -167px;
        left: 2px;
      }

      &_show::after {
        display: block;
        top: -160px;
        left: 2px;
      }

      &_hide::before,
      &_hide::after {
        display: block;
        top: 20px;
        left: 2px;
      }
    }
  }

  .box__appliances {
    display: block;
    padding: 24px 32px 0 32px;
    min-height: 320px;

    &__container {
      position: relative;
      box-sizing: border-box !important;
      display: grid !important;
      max-width: 1120px;
      grid-template-columns: 1fr 1fr 1fr 240px;
      grid-template-rows: repeat(2, 160px);
      row-gap: 24px;
      min-height: 380px;
      margin: 0;
      padding-top: 24px;
      padding-left: 32px;
      padding-right: 32px;

      &__item {
        margin: 0;
        width: 240px;
      }
    }
  }
}
