$font: 'TT Lakes', sans-serif;
$light_grey: #f8f8f8;
$light_green: #41f6d7;
$wight: #ffff;
$light_wight: #eaeaea;
$grey: #7e7e82;
$tablet: '(min-width: 768px) and (max-width: 1199.9px)';
$tabletDesktop: '(min-width: 768px)';
$desktop: '(min-width: 1200px)';
$redBtn: #ff3e79;
$black: #1b1c21;
$light_light_grey: #eaeaea;
$grey_input: #b5b6bc;
