$font: 'TT Lakes', sans-serif;
$light_grey: #f8f8f8;
$light_green: #41f6d7;
$duty_wight: #ffff;
$light_wight: #eaeaea;
$grey: #7e7e82;
$tablet: '(min-width: 768px) and (max-width: 1119.9px)';
$tabletDesktop: '(min-width: 768px)';
$desktop: '(min-width: 1120px)'
