.sliders__price {
  box-sizing: border-box;
  height: 360px;
  overflow: hidden;
  background-color: $light_grey;
  border-top: 1px solid $light_green;
}

.box__price {
  position: relative;

  &__container {
    height: 280px !important;
    padding-left: 16px;
  }

  &__service {
    font-weight: 500;
    font-size: 14px;
    color: $grey;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 260px !important;
    height: 206px !important;
    background-color: $wight;
    padding: 16px;
    border: 1px solid $light_light_grey;
    border-radius: 10px;

    &_hidden {
      display: none !important;
    }
  }

  &__title {
    color: $grey;
    font-weight: 500;
    font-size: 14px;
  }

  &__text {
    color: $black;
    display: block;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
  }

  &__order {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &__time__box {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    position: relative;
    border: none;
    background-color: $redBtn;
    color: $wight;
    width: 110px;
    height: 32px;
    font-weight: 700;
    font-size: 10px;
    border-radius: 20px;
    margin-left: 28px;
    top: 8px;
    padding-right: 20px;
    padding-top: 3px;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 5px;
      height: 5px;
      color: $wight;
      border-top: 2px solid $wight;
      border-right: 2px solid $wight;
      transform: rotate(45deg);
      right: 16px;
      bottom: 12px;
    }
  }

  &__pagination {
    position: absolute;
    top: 237px !important;
  }
}

@media (min-width: 768px) and (max-width: 1119.9px) {
  .sliders__price {
    background: linear-gradient(to right, $wight 120px, $light_grey 120px);
    min-height: 524px !important;
  }

  .box__price {
    display: flex;
    padding: 0 24px 0 24px !important;
    max-width: 1120px;
    min-height: 500px;
    background: linear-gradient(to right, $wight 120px, $light_grey 120px);

    &__container {
      display: flex;
      flex-direction: column;
      // color: $wight;
      // width: 98% !important;
      line-height: 64px;
      min-height: 500px !important;
      // padding: 0 24px 0 24px !important;
    }

    &__service,
    &__name,
    &__time {
      display: block;
      color: $grey;
      font-weight: 500;
      font-size: 14px;
    }

    &__service {
      &_width {
        width: 50%;
      }
    }

    &__name {
      &_width {
        width: 15%;
      }
    }

    &__item {
      box-sizing: border-box !important;
      display: flex !important;
      flex-direction: row;
      width: 98% !important;
      margin-top: 0;
      height: 64px !important;
      border: none;
      border-radius: 0;
      padding: 0;

      &_top {
        background: linear-gradient(to right, $wight 96px, $light_grey 96px);
      }

      &:nth-child(n + 3)::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 98%;
        left: 0;
        border-bottom: 1px solid $light_wight;
      }

      &:nth-child(2) {
        border-top-right-radius: 10px !important;
      }

      &:last-child {
        border-bottom-right-radius: 10px !important;
      }

      &:last-child {
        border: none;
      }
    }

    &__text {
      &_width {
        width: 50%;
      }

      &_little {
        width: 15%;
      }
    }

    &__title_hidden {
      display: none !important;
    }

    &__order {
      width: 33%;
    }

    &__btn {
        margin-left: auto;
        top: 17px;
        width: 120px;
        height: 32px;
      }
  }
}

@media (min-width: 1119.9px) {
  .sliders__price {
    background: none;
    min-height: 560px !important;
    max-width: 1120px;
  }

  .box__price {
    display: flex;
    padding: 0 32px 0 32px !important;
    max-width: 1120px;
    min-height: 500px;

    &__container {
      display: flex;
      flex-direction: column;
      color: $wight;
      line-height: 64px;
      min-height: 500px !important;
    }

    &__service,
    &__name,
    &__time {
      display: block;
      color: $grey;
      font-weight: 500;
      font-size: 14px;
    }

    &__service {
      &_width {
        width: 50%;
      }
    }

    &__name {
      &_width {
        width: 15%;
      }
    }

    &__item {
      display: flex !important;
      flex-direction: row;
      width: 100% !important;
      margin-top: 0;
      height: 64px !important;
      border: none;
      border-radius: 0;
      padding: 0;

      // &_top {
      //   background: linear-gradient(to right, $wight 96px, $light_grey 96px);
      // }

      &:nth-child(n + 3)::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 98%;
        left: 0;
        border-bottom: 1px solid $light_wight;
      }

      &:nth-child(2) {
        border-top-right-radius: 10px !important;
      }

      &:last-child {
        border-bottom-right-radius: 10px !important;
      }

      &:last-child {
        border: none;
      }
    }

    &__text {
      &_width {
        width: 50%;
      }

      &_little {
        width: 15%;
      }
    }

    &__title_hidden {
      display: none !important;
    }

    &__order {
      width: 33%;
    }

    &__btn {
        margin-left: auto;
        top: 17px;
        width: 120px;
        height: 32px;
      }
  }
}

// @media (min-width: 1120px) {
//   .sliders__price {
//     max-width: 1120px;
//     min-height: 560px;

//     .title {
//       padding-left: 32px;
//       height: 56px;

//       .title__text {
//         padding: 0;
//       }
//     }

//     .box__price {
//       display: flex;
//       flex-direction: column;
//       padding: 0 32px 0 32px;
//       min-height: 500px;

//       .box__price__container {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         color: $wight;
//         line-height: 64px;
//         padding: 0;

//         .box__price__item_top {
//           background-color: $light_grey;

//           .box__price__service,
//           .box__price__name,
//           .box__price__time {
//             color: $grey;
//             font-weight: 500;
//             font-size: 14px;
//           }
//         }

//         .box__price__item {
//           display: flex;
//           flex-direction: row;
//           width: 100%;
//           margin: 0;
//           padding: 0;
//           height: 64px;
//           border: none;
//           border-radius: 0;
//           padding-left: 24px;
//           line-height: 64px;

//           .box__price__title_hidden {
//             display: none;
//           }

//           .box__price__service_width,
//           .box__price__text_width {
//             width: 50%;
//           }

//           .box__price__text_width,
//           .box__price__name_width {
//             width: 15%;
//           }

//           .box__price__cotainer {
//             width: 33%;

//             .box__price__btn {
//               margin-left: auto;
//               top: 17px;
//               width: 120px;
//               height: 32px;
//             }
//           }
//         }

//         .box__price__item:nth-child(n + 3)::after {
//           content: '';
//           display: block;
//           position: absolute;
//           top: 0;
//           width: 96%;
//           left: 10px;
//           border-bottom: 1px solid $light_wight;
//         }

//         .box__price__item:nth-child(2) {
//           border-top-left-radius: 10px;
//           border-top-right-radius: 10px;
//         }

//         .box__price__item:last-child {
//           border-bottom-left-radius: 10px;
//           border-bottom-right-radius: 10px;
//         }

//         .box__price__item_hidden {
//           display: flex !important;
//           width: 100%;
//           height: 64px;
//         }

//         .box__price__title_hidden {
//           display: flex;
//         }
//       }
//     }

//     .swiper-pagination-bullet,
//     .swiper-pagination,
//     .container__appliances__pagination {
//       display: none;
//     }
//   }
// }
