@import './header/header.scss';
@import './main/main_content/main__contant';
@import './main/appliances__items/appliances__items';
@import './main/sliders__brend/sliders__brend';
@import './main/price__items/price__items';
@import './main/footer__container/footer__container';
@import './footer/footer';
@import './popup__burger/popup__burger';
@import './popup__modal__back/popup__modal__back.scss';
@import './popup__modal__feedback/popup__modal__feedback';
@import './main/main__description/main__description';
@import './main/title/title';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  line-height: 20px;
}

.sliders__brends__screen_middle {
  height: 490px;
}

.sliders__brend_little {
  height: 410px;
}

.sliders__appliances_little {
  height: 510px;
}

.sliders__appliances_middle {
  height: 550px !important;
}

.sliders__appliances_big {
  height: 680px;
}

.popup__show_middle {
  z-index: -99;
  overflow: hidden;
  max-height: calc(100vh + 120px);
}

.popup__show_little {
  z-index: -99;
  overflow: hidden;
  max-height: calc(100vh - 120px);
}

.popup__show_middle {
  z-index: -99;
  overflow: hidden;
  max-height: calc(100vh + 250px);
}

.popup_hidden {
  display: none;
  position: absolute;
  // bottom: 0;
  z-index: -999;
}

.body__all__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1400px;
  margin: auto;
}

.body__content {
  display: flex;
  flex-direction: column;
}

.popup__burger_position {
  position: absolute;
  z-index: 9999;
}

.popup__servises_position {
  position: absolute;
  top: 0;
  right: 0;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  margin-right: 20px !important;
}

.swiper-pagination-bullet-active {
  background: $grey !important;
}

@media (min-width: 768px) {
  .swiper-pagination-bullets,
  .swiper-pagination-bullet,
  .swiper-pagination,
  .box__appliances__pagination {
    display: none;
  }

  .swiper {
    display: flex;
  }
}
