@import './header/header.scss';
@import './main/sliders__appliances/sliders__appliances';
@import './main/sliders__brend/sliders__brend';
@import './main/sliders__price/sliders__price';
@import './main/commercial__offer/commercial__offer';
@import './footer/footer';
@import './popup-burger/popup-burger';
@import './popup-call/popup-call.scss';
@import './popup-feedback/popup-feedback';
@import './main/title/title';
@import './main/main__description/servises/servises';
@import './main/main__description/content/content';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   font-family: $font;
//   line-height: 20px;
// }

.sliders-brend__screen_middle {
  height: 490px;
}

.sliders-brend_little {
  height: 410px;
}

.sliders-appliances_little {
  height: 510px;
}

.sliders-appliances_middle {
  height: 550px !important;
}

.sliders-appliances_big {
  height: 680px;
}

.popup__show_middle {
  z-index: -99;
  overflow: hidden;
  max-height: calc(100vh + 120px);
}

.popup__show_little {
  z-index: -99;
  overflow: hidden;
  max-height: calc(100vh - 120px);
}

.popup__show_middle {
  z-index: -99;
  overflow: hidden;
  max-height: calc(100vh + 250px);
}

.popup_hidden {
  display: none;
  position: absolute;
  z-index: -999;
}

.body-all-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1440px;
  margin: auto;
}

.body-content {
  display: flex;
  flex-direction: column;
}

.popup__burger_position {
  position: absolute;
  z-index: 9999;
}

.popup__servises_position {
  position: absolute;
  top: 0;
  right: 0;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  margin-right: 20px !important;
}

.swiper-pagination-bullet-active {
  background: $grey !important;
}

@media (min-width: 768px) {
  .swiper-pagination-bullets,
  .swiper-pagination-bullet,
  .swiper-pagination,
  .box-appliances__pagination {
    display: none;
  }

  .swiper {
    display: flex;
  }
}
