@import './header/header.scss';
@import './main/main.scss';
@import './main/main_content/main__contant';
@import './main/appliances__items/appliances__items';
@import './main/sliders__brend/sliders__brend';
@import './main/price__items/price__items';
@import './main/footer__container/footer__container';
@import './footer/footer';
@import './popup__header/popup__modal__burger';
@import './popup__modal__back/popup__modal__back.scss';
@import './popup__modal__feedback/popup__modal__feedback';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    line-height: 20px;
    // background-color: rgb(208, 74, 74);
}

.popup__show {
    display: none;
    // opacity: 0.1;
}
