/* body {
    background-color: rgb(185, 104, 104);
} */

/* .box {
    width: 40px;
    height: 40px;
    background: url('./img/call.png');
    margin: auto;
} */
/* .box {
    width: 70px;
    height: 70px;
    background: url('./img/call.png') no-repeat;
    background-size: cover;
    margin: auto;
    bottom: 0;
} */