/* body {
    background-color: rgb(185, 104, 104);
} */
@media (768px <= width < 1120px) {
    .wrapper__sliders {
        min-height: 300px;
    }

    .title {
        height: 56px;
    }

    .title__text {
        padding-left: 24px;
    }

    .swiper-container,
    .swiper-wrapper,
    .swiper-slide,
    .swiper-container__swiper-pagination,
    .swiper-pagination {
        display: none;
    }

    .box {
        display: block;
        padding: 24px 24px 0 24px;
    }

    .box__container {
        display: grid;
        max-width: 903px;
        grid-template-columns: 1fr 1fr 224px;
        grid-template-rows: repeat(4, 75px);
        row-gap: 16px;
        margin: auto;
    }

    .container__slide {
        display: block;
        margin: 0 !important;
        padding-bottom: 16px;
    }

    .samsung {
        background-position: -5px 0;
    }

    .slide__box__img {
        display: block;
        width: 224px;
        height: 72px;
    }

    .container__slide:first-child {
        margin-left: 0;
    }

    .swiper-pagination-bullets {
        display: none;
    }

    .hidden {
        display: none;
    }

    .wrapper__sliders__btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;
        border: none;
        background-color: #ddd;
        padding-left: 24px;
    }

    .wrapper__sliders__btn:hover {
        cursor: pointer;
    }

    .btn-show::before {
        position: relative;
        display: block;
        content: '';
        background: url('img/expand.png') no-repeat;
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-right: 10px;
        top: -177px;
    }

    .btn-show::after {
        display: flex;
        align-items: center;
        width: 110px;
        height: 30px;
        content: 'Показать всё';
        font-size: 16px;
        font-weight: 500;
        color: black;
        position: relative;
        top: -177px;
        z-index: 5;
    }

    .btn-hide::before {
        position: relative;
        display: block;
        content: '';
        background: url('img/expand.png') no-repeat;
        transform: rotate(180deg);
        width: 24px;
        height: 24px;
        top: 10px;
        margin-right: 10px;
    }

    .btn-hide::after {
        content: 'Скрыть';
        font-size: 16px;
        font-weight: 500;
        color: black;
        position: relative;
        top: 10px;
        z-index: 5;
    }
}
