// @import '../../img/burger.png';

.header {
    display: flex;
    flex-direction: column;
    // width: 320px;
    margin: auto;

    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 88px;
        background-color: $duty_wight;
        padding-left: 16px;
    }

    .header__conteiner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;

        .header__img {
            width: 40px;
            height: 40px;
        }

        .burger {
            background: url('img/burger.png') no-repeat;
        }

        .repair {
            background: url('img/repair.png') no-repeat;
        }

        .checkstatus {
            background: url('img/checkstatus.png');
        }

        .logo {
            width: 96px;
            height: 52px;
        }

        .header__img:hover {
            cursor: pointer;
        }
    }

    .box-two::before {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
        margin-top: 4px;
    }

    .header__conteiner-button,
    .header--hidden {
        display: none;
    }

    .header__conteiner-title {
        position: relative;
        box-sizing: content-box;
        height: 40px;
        background-color: $light_grey;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 18px;

        .header__title {
            font-family: 'TT Lakes';
            font-weight: 700;
            font-size: 28px;
            // letter-spacing: 0;
            margin: 0;
        }

        .header__title::before {
            content: '';
            display: block;
            position: absolute;
            top: 18px;
            left: -4px;
            width: 5px;
            height: 40px;
            border-right: 5px solid $light_green;
            border-radius: 15px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199.99px) {
    .header__nav {
        padding-left: 24px;
        padding-right: 24px;

        .box-one {
            width: 25%;
        }

        .box-two {
            width: 40%;
        }

        .header__img {
            box-sizing: content-box;
        }

        .burger {
            padding-right: 20px;
        }

        .repair {
            margin-left: 18px;
        }

        .header--hidden,
        .main__content-text--hidden {
            display: block;
        }

        .box-two::before {
            display: none;
        }

        .repair::before {
            content: '';
            display: block;
            width: 2px;
            height: 32px;
            background-color: $light_wight;
            margin-top: 5px;
            margin-left: -3.3vw;
        }

        .logo::before {
            content: '';
            display: block;
            position: absolute;
            width: 2px;
            height: 32px;
            background-color: $light_wight;
            margin-left: -17vw;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
        }

        .call {
            background: no-repeat url('img/call.png');
        }

        .chat {
            background: no-repeat url('img/chat.png');
        }

        .profile {
            background: no-repeat url('img/profile.png');
            padding-right: 18px;
        }
    }

    .header .header__conteiner-title {
        padding-bottom: 32px;
        padding-left: 24px;

        .header__conteiner-button {
            display: none;
        }

        .header__title::before {
            top: 20px;
        }
    }
}

@media (min-width: 1200px) {
    body {
        max-width: 1200px;
        margin: auto;
    }

    .header {
        position: relative;
        background-color: $duty_wight;
        max-width: 1120px;
        padding-left: 35px;
        padding-right: 35px;

        .header__conteiner-title {
            position: static;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-height: 88px;
            background-color: $duty_wight;
            padding-top: 16px;
            padding-left: 0;
            padding-bottom: 0;

            .header__title {
                width: 400px;
                min-height: 40px;
            }

            .header__title::before {
                content: '';
                display: block;
                position: absolute;
                top: 34px;
                left: -4px;
                width: 5px;
                height: 40px;
                border-right: 5px solid $light_green;
                border-radius: 15px;
            }
        }

        .header__nav {
            display: none;
        }

        .header__conteiner-button {
            display: flex;
            flex-direction: row;
        }

        .header__button {
            font-family: $font;
            font-size: 16px;
            border: none;
            width: 220px;
            height: 40px;
        }

        .header__button:hover {
            cursor: pointer;
        }

        .repair {
            background: url('img/repair.png') no-repeat right;
        }

        .checkstatus {
            background: url('img/checkstatus.png') no-repeat right;
        }
    }
}
