.header {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  background-color: $wight;

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;

    &_two::before {
      content: '';
      display: block;
      width: 2px;
      height: 32px;
      background-color: $light_wight;
      margin-top: 4px;
    }
  }

  &__btn {
    width: 40px;
    height: 40px;

    &_hidden {
      display: none;
    }
  }

  &__logo {
    width: 96px;
    height: 52px;
  }
}

.burger__btn {
  background: url('../src/img/burger.png') no-repeat;
}

.repair__btn {
  background: url('../src/img/repair.png') no-repeat;
}

.checkstatus__btn {
  background: url('../src/img/checkstatus.png');
}

.burger__btn,
.header__nav__btn,
.call__btn,
.chat__btn,
.profile__btn,
.repair__btn,
.checkstatus__btn {
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.title__conteiner {
  position: relative;
  box-sizing: content-box;
  height: 40px;
  background-color: $light_grey;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 18px;

  &__text {
    font-family: 'TT Lakes';
    font-weight: 700;
    font-size: 28px;
    margin: 0;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 18px;
      left: -4px;
      width: 5px;
      height: 40px;
      border-right: 5px solid $light_green;
      border-radius: 15px;
    }
  }

  &__buttons__box {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1439.99px) {
  .navigation {
    // max-width: 1120px;
    padding-left: 24px;
    padding-right: 24px;

    &__box {
      width: 100px;

      &_one {
        width: 25%;
      }

      &_two {
        width: 40%;

        &::before {
          display: none;
        }
      }
    }

    &__btn {
      box-sizing: content-box;

      &_hidden {
        display: block;
      }
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: $light_wight;
        margin-left: -17vw;
      }
    }
  }

  .burger__btn {
    padding-right: 20px;
  }

  .repair__btn {
    margin-left: 18px;

    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 32px;
      background-color: $light_wight;
      margin-top: 5px;
      margin-left: -3.3vw;
    }
  }

  .call__btn {
    background: no-repeat url('../src/img/call.png');
  }

  .chat__btn {
    background: no-repeat url('../src/img/chat.png');
  }

  .profile__btn {
    background: no-repeat url('../src/img/profile.png');
    padding-right: 18px;
  }

  .title__conteiner {
    border-top: 1px solid $light_green;
    background-color: $wight;
    padding-bottom: 0;
    padding-left: 24px;

    &__text {
      &::before {
        top: 16px;
      }
    }

    &__buttons__box {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    position: relative;
    background-color: $light_grey;
    max-width: 1120px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .navigation {
    display: none;
  }

  .title__conteiner {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 88px;
    background-color: $light_grey;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;

    &__text {
      width: 400px;
      min-height: 40px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: -4px;
        width: 5px;
        height: 40px;
        border-right: 5px solid $light_green;
        border-radius: 15px;
      }
    }

    &__buttons__box {
      display: flex;
      flex-direction: row;
    }

    &__button {
      font-family: $font;
      font-size: 16px;
      border: none;
      width: 220px;
      height: 40px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .repair__btn {
    background: url('../src/img/repair.png') no-repeat right;
  }

  .checkstatus__btn {
    background: url('../src/img/checkstatus.png') no-repeat right;
  }
}
