// @import '../../img/burger.png';

.header {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: auto;

    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 88px;
        background-color: $duty_wight;
        padding-left: 16px;
    }

    .header__conteiner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;

        .header__img {
            width: 40px;
            height: 40px;
        }

        .burger {
            background: url('img/burger.png') no-repeat;
        }

        // .repair {
        //     background: url('../style/img/repair.png') no-repeat;
        // }

        // .checkstatus {
        //     background: url('../style/img/checkstatus.png');
        // }

        .logo {
            width: 96px;
            height: 52px;
        }

        .header__img:hover {
            cursor: pointer;
        }
    }

    .box-two::before {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
        margin-top: 4px;
    }

    .header__conteiner-button,
    .header--hidden {
        display: none;
    }
}

// .header__img {
//     width: 40px;
//     height: 40px;
// }

// .burger {
//     background: url('img/burger.png') no-repeat;
// }
